<div class="main">
    <div class="cul-title">
      <h1 class="cul-name">RECHARGE <b class="cul-name1">24</b></h1><br>
      <p class="college-name">Cambridge University Chennai</p>
  
      <b class="quotes">“Live out your wildest dreams at our event!”</b>
    </div>
    <div class="main-row">
      <div class="col1">
  <h1 class="event">  EVENTS</h1>
  
  <div class="event-list">
    <div class="list1">
  
      <h2><p class="date">MAR 10</p><p class="event-name">Inter College Sports</p> </h2>
      
      <h5 class="Guest">Special Guest: <b>Suresh Raina</b></h5>
    </div>
    <div class="list2">
      <h2><p class="date">MAR 11</p><p class="event-name">Fashion Festivel</p></h2>
      <h5 class="Guest">Special Guest: <b>Marchmello</b></h5>
    </div>
    <div class="list3">
      <h2><p class="date">MAR 12</p><p class="event-name">Vjay Antony Concert!</p></h2>
      <h5 class="Guest">Special Guest: <b>Vijay Antony,Yuvan Shankar Raja,DJ snake</b></h5>
    </div>
  </div>
      </div>
      <div class="col2">
        <h1 class="register">REGISTER HERE</h1>
        <a href="Register">  <button class="button --draw-border"> LINK</button></a>
  
        <h1 class="register" id="start">EVENT STARTS IN</h1>
        <div class="wrapper">
          <div class="">
           
            <div class="countdown-container">
              <div>
                <p id="days" class="big-text">{{ days }}</p>
                <span>Days</span>
              </div>
              <div>
               <p id="hours" class="big-text">{{ hours }}</p>
               <span>Hours</span>
             </div>
             <div>
               <p id="min" class="big-text">{{ minutes }}</p>
               <span>Min</span>
             </div>
             <div>
               <p id="sec" class="big-text">{{ seconds }}</p>
               <span>Sec</span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

